$font-s-18: 18px;
$font-s-20: 20px;
$font-s-24: 24px;
$font-s-26: 26px;
$font-s-28: 28px;
$font-s-30: 30px;
$font-s-32: 32px;
$font-s-34: 34px;
$font-s-36: 36px;
$font-s-38: 38px;
$font-s-42: 42px;
$font-s-46: 46px;
$font-s-48: 48px;
$font-s-64: 64px;