<!-- nav導覽列區域 -->
<nav class="navTop">
    <div class="container">
        <div class="nav-section">
            <div class="nav-img">
                <a href="index.html"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo-icon"></a>
            </div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="optical.html">系列鏡框</a></li>
                <li class="nav-item"><a href="stores.html">門市據點</a></li>
                <li class="nav-item"><a href="blog.html">部落格</a></li>
                <li class="nav-item"><a href="question.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</nav>