<!-- 導覽列下方的header區塊，僅PC 及 平板 可看見 -->
<section class="secHeader">
    <div class="container">
        <ul class="secMenu">
            <li class="menu"><a href="#">最新消息</a></li>
            <li class="menu"><a href="#">特別企劃</a></li>
            <li class="menu"><a href="#">新品上市</a></li>
            <li class="menu"><a href="#">鏡框小知識</a></li>
        </ul>
        <span class="material-symbols-outlined">search</span>
    </div>
</section>