.question{
    .container{
        max-width: 1296px;
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 80px;
        h1{
            padding: 8px 16px;
            border-left: 8px solid #9F1213;
            font-size: $font-s-48;
            line-height: 72px;
            font-weight: bold;
            margin-bottom: 33px;
        }
        h2{
            font-size: $font-s-24;
            font-weight: bold;
            margin-bottom: 24px;
            line-height: 36px;
        }
        .qestion-content{
            .question-num{
                margin-bottom: 32px;
                .h3-title{
                    text-align: left;
                    font-size: $font-s-20;
                    margin-bottom: 8px;
                    line-height: 30px;
                }
                p{
                    line-height: 24px;
                    text-align: left;
                }
            }
        }
    }
}

@include pad{
    .question{
        .container{
            padding: 80px 12px;
        }
    }
}
@include iphone{
    .question{
        .container{
            padding: 40px 12px 64px 12px;
        }
    }
}