<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>眼鏡網頁 - 首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner區域 -->
    <section class="homeBanner">
      <div class="container">
          <div class="banner-content">
              <h1>Promise-Desert 2020 早春系列</h1>
              <h2>看得清，才能看得遠</h2>
              <a href="#" class="btn">立即購買</a>
          </div>
      </div>
    </section>

    <!-- 提供的服務 -->
    <section class="service">
      <div class="container">
          <h3>用專業的心，做專業的事</h3>
          <ul class="servicePart">
              <li class="serviceItem">
                  <div class="service-img">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" alt="單一價格圖">
                  </div>
                  <h4>單一價格</h4>
                  <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </li>
              <li class="serviceItem">
                  <div class="service-img">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" alt="時間取件圖">
                  </div>
                  <h4>20 分鐘即可取件</h4>
                  <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </li>
              <li class="serviceItem">
                  <div class="service-img">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" alt="愛心圖">
                  </div>
                  <h4>安心售後服務</h4>
                  <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </li>
              <li class="serviceItem">
                  <div class="service-img">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" alt="關於鏡片圖">
                  </div>
                  <h4>關於鏡片</h4>
                  <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </li>
          </ul>
      </div>
    </section>

    <!-- 推薦經典系列 -->
    <section class="recommend">
      <div class="container">
          <h3>經典系列鏡框</h3>
          <ul class="glassesType">
              <li class="typeItem">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="戴眼鏡的女人">
                  <p>OPTICAL</p>
              </li>
              <li class="typeItem">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="戴太陽眼鏡的人">
                  <p>SUNGLASSES</p>
              </li>
              <li class="typeItem">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="一位老阿伯">
                  <p>FUNCTIONAL</p>
              </li>
          </ul>
      </div>
    </section>

    <!-- 聯名設計鏡框系列 -->
    <section class="design">
      <div class="container">
          <h3>聯名設計鏡框</h3>
          <div class="design-images">
              <div class="designImg">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" alt="白色眼鏡">
                  <p>DOUBLE A+</p>
              </div>
              <div class="designImg">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" alt="粉色背景眼鏡">
                  <p>YOUTH</p>
              </div>
          </div>
      </div>
    </section>

    <!-- 顧客推薦區域 -->
    <section class="custom">
        <div class="container">
            <h3>顧客推薦</h3>
            <ul class="customRec">
                <li class="feedBack">
                    <div class="cus-pic">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" alt="曬太陽的女生">
                    </div>
                    <div class="cus-body">
                        <h4>Jessy</h4>
                        <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                    </div>
                    <div class="cus-foot">
                        <p>2021/06/20</p>
                    </div>
                </li>
                <li class="feedBack">
                    <div class="cus-pic">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" alt="短頭髮的女生">
                    </div>
                    <div class="cus-body">
                        <h4>凱倫</h4>
                        <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                    </div>
                    <div class="cus-foot">
                        <p>2021/04/18</p>
                    </div>
                </li>
                <li class="feedBack">
                    <div class="cus-pic">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" alt="黑白照片的女生">
                    </div>
                    <div class="cus-body">
                        <h4>悠悠</h4>
                        <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                    </div>
                    <div class="cus-foot">
                        <p>2020/12/25</p>
                    </div>
                </li>
                <li class="feedBack">
                    <div class="cus-pic">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" alt="側臉圖">
                    </div>
                    <div class="cus-body">
                        <h4>Kyuan</h4>
                        <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                    </div>
                    <div class="cus-foot">
                        <p>2020/10/31</p>
                    </div>
                </li>
            </ul>
        </div>
        </section>

    <!-- 聯絡我們區塊 -->
    <section class="ContactUs">
    <div class="container">
        <h3>聯絡我們</h3>
        <div class="conus-content">
            <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若<br>仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        </div>
        <form class="form-container">
            <div class="form-row">
                <label for="person">姓名</label>
                <input type="text" id="person" name="person" placeholder="陳小明">
            </div>
            <div class="form-row">
                <label for="phone">聯絡電話</label>
                <input type="tel" id="phone" name="phone" placeholder="0912-345-678">
            </div>
            <div class="form-row">
                <label for="email">電子郵件</label>
                <input type="email" id="email" name="email" placeholder="example@email.com">
            </div>
            <div class="form-row">
                <label for="mytext">意見反應</label>
                <textarea name="mytext" id="mytext" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
            </div>
            <div class="form-check">
                <input class="check-input" type="checkbox" id="flexCheckDefault">
                <label class="check-label" for="flexCheckDefault">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <div class="input-btn">
                <button class="btn">確認按鈕</button>
            </div>
        </form>
    </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
