<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>眼鏡網頁 - 系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 導覽列下方的header區塊，分三塊且置中 -->
    <section class="topHeader">
        <div class="container">
            <ul>
                <li class="redline"><a href="optical.html">OPTICAL</a></li>
                <li ><a href="sunglasses.html">SUNGLASSES</a></li>
                <li ><a href="#">FUNCTIONAL</a></li>
            </ul>
        </div>
    </section>
    <!-- banner圖片區 -->
    <div class="banner">
        <img class="pc-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true" alt="banner眼鏡圖">
        <img class="pc-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true" alt="banner抬頭看">
        <img class="sm-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true" alt="phone-banner眼鏡圖">
        <img class="sm-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true" alt="phone-banner抬頭看">
    </div>
    <!-- 產品區塊 -->
    <section class="Combi">
        <div class="container">
            <div class="pro-title">
                <h1>Celluloid Combi</h1>
                <h2>賽璐珞鈦金屬混合鏡框</h2>
            </div>

            <!-- 產品區塊 - 內容 -->
            <ul class="pro-items">
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="眼鏡圖一">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="眼鏡圖二">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="眼鏡圖三">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="眼鏡圖四">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="眼鏡圖五">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="眼鏡圖六">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="眼鏡圖七">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="眼鏡圖八">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="眼鏡圖九">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="眼鏡圖十">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="眼鏡圖十一">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
                <li class="item">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="眼鏡圖十二">
                    <div class="proPrice">
                        <h3>BJ41600S</h3>
                        <span>NTD3,490</span>
                    </div>
                    <div class="pro-color">
                        <div class="box black-box"></div>
                        <div class="box brown-box"></div>
                    </div>
                </li>
            </ul>

            <!-- 產品區塊 - 下方分頁 -->
            <ul class="pagination">
                <li>
                    <a href="#">上一頁</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#" class="active">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">下一頁</a>
                </li>
              </ul>
        </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>