<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>眼鏡網頁 - 系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 導覽列下方的header區塊，分三塊且置中 -->
    <section class="topHeader">
      <div class="container">
          <ul class="row">
              <li class="col"><a href="optical.html">OPTICAL</a></li>
              <li class="col redline"><a href="sunglasses.html">SUNGLASSES</a></li>
              <li class="col"><a href="#">FUNCTIONAL</a></li>
          </ul>
      </div>
  </section>
  <!-- banner圖片區 -->
  <div class="banner">
    <img class="pc-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true" alt="banner沙漠眼鏡圖">
    <img class="pc-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true" alt="banner抬頭看太陽">
    <img class="sm-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true" alt="phone-banner沙漠眼鏡圖">
    <img class="sm-phone" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true" alt="phone-banner抬頭看太陽">
  </div>
  <!-- 產品區塊 -->
  <section class="collection">
    <div class="container">
        <div class="pro-title">
            <h1>2020 NEW COLLECTION</h1>
            <h2>賽璐珞鈦金屬混合鏡框</h2>
        </div>
        <ul class="sunGlass-items">
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="太陽眼鏡圖一">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="太陽眼鏡圖二">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="太陽眼鏡圖三">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="太陽眼鏡圖四">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="太陽眼鏡圖五">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
            <li class="item">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="太陽眼鏡圖六">
                <div class="proPrice">
                    <h3>BJ41600S</h3>
                    <span>NTD3,490</span>
                </div>
                <div class="pro-color">
                    <div class="box black-box"></div>
                    <div class="box brown-box"></div>
                </div>
            </li>
        </ul>

        <!-- 產品區塊 - 下方分頁 -->
        <ul class="SunPagination">
            <li>
                <a href="#">上一頁</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#" class="active">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">6</a>
            </li>
            <li>
                <a href="#">下一頁</a>
            </li>
          </ul>
    </div>
  </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
